<div class="row">
    <div class="col">
      <h1 class="text-left mb-2">Booking History</h1>
      <div class="d-flex">
        <input class="form-control me-2 mb-4" type="search" placeholder="Search" aria-label="Search"
          [(ngModel)]="SearchValue">
      </div>
    </div>
    <div class="col-sm-2 pb-5">
      <div class="card car-responsive">
        <div class="card-body text-center">
          <h4 class="">Earnings</h4>
          <p>{{earnings}}</p>
        </div>
      </div>
    </div>
  </div>