
<h2>{{bike.brandName}} {{bike.modelName}} detail</h2> 

<hr/>

<div *ngIf="bike">
  <div class="card shadow-sm p-3 mb-5 bg-body rounded">
    <div class="row">
      <div class="col text-center">
          <img src="{{bike.bikeImage}}" style="height:350px; width:auto;" alt="{{bike.brandName}} {{bike.modelName}}"/>
      </div>
      
      <div class="col">  
          <div class="card-body">
            <h3 class="card-title">{{bike.brandName}}</h3>
            <h4>{{bike.modelName}}</h4>
          <table> 
            <tr><td><b>Bike Number  : </b>{{bike.bikeNumber}}</td></tr> <br>
            <tr><td><b>Rent Amount : </b>{{bike.rentAmount}}</td></tr> <br>
            <tr> <td><b>Pickup Location : </b>{{bike.pickUpLocation}}</td></tr><br>
            <tr> <td><b>Availability : </b>{{bike.availability}}</td></tr><br>
            <tr> <td><b>Description : </b> {{bike.description}}</td></tr><br>
          </table>
          </div>
        </div>
      </div>
</div>
<div class="d-grid gap-3 d-md-flex" >
    <button type="button" class="btn btn-primary " (click)="gotoBuyNow(bike.id)">Rent Now</button>
    <button type="button" class="btn btn-warning" (click)="Back()">Back</button>
 </div>
<!-- <button type="button" class="btn btn-primary" (click)="goto(bike.bikeId)">Buynow</button> -->
<!-- <button (click)="goto1()" class="btn btn-primary">Back</button><br> -->