
<h2>{{bike.brandName}} {{bike.modelName}} detail</h2> 

<hr/>

<div *ngIf="bike">
    <div class="col">
        <div class="card">
          <img src="{{bike.bikeImage}}" class="card-img-top" alt="{{bike.brandName}} {{bike.modelName}}"/>
          <div class="card-body">
            <h3 class="card-title">{{bike.brandName}}</h3>
            <h4>{{bike.modelName}}</h4>
           
          <table> 
            <tr><td> Bike Number  : {{bike.bikeNumber}}</td></tr> <br>
            <tr><td>Rent Amount : {{bike.rentAmount}}</td></tr> <br>
            <tr> <td>Pickup Location : {{bike.pickUpLocation}}</td></tr><br>
            <tr> <td>Availability : {{bike.availability}}</td></tr><br>
            <tr> <td>Description : {{bike.description}}</td></tr><br>
          </table>
          </div>
        </div>
      </div>
</div>

<br>
<br>
<button (click)="goto()" class="btn btn-primary">Back to Dashboard</button><br>