<h1 style="align-items: left; width: auto;">Dashboard</h1>

<div class="row row-cols-4">
  <div class="col" *ngFor="let fd of bike">
  <div class="col">
    <div class="card">
      <img src="{{fd.bikeImage}}" class="card-img-top" alt="{{fd.brandName}} {{fd.modelName}}"/>
      <div class="card-body">
        <h3 class="card-title">{{fd.brandName}}</h3>
        <h4>{{fd.modelName}}</h4>
       
      <table> 
        <tr><td>Rent Amount:     {{fd.rentAmount}}</td></tr> <br>
        <tr> <td>Pickup Location: {{fd.pickUpLocation}}</td></tr><br>
        <tr> <td>Availability:    {{fd.availability}}</td></tr><br>
        </table>
        <div class="btn-group-justified">
       
          <button type="button" (click)='getBikeById(fd.id)' class="btn btn-primary btn-sm">Details</button>
          <button type="button" (click)='updateBike(fd.id)' class="btn btn-warning btn-sm">Edit</button>
          <button type="button" (click)='deleteBike(fd.id)' class="btn btn-danger btn-sm">Delete</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div> 


 