
<h2>{{bikes.brandName}} {{bikes.modelName}} detail</h2> 

<hr/>

<div *ngIf="bikes">
  <div class="card shadow-sm p-3 mb-5 bg-body rounded">
    <div class="row">
      <div class="col text-center">
          <img src="{{bikes.bikeImage}}" style="height:350px;" alt="{{bikes.brandName}} {{bikes.modelName}}"/>
      </div>
      
      <div class="col">  
          <div class="card-body">
            <h3 class="card-title">{{bikes.brandName}}</h3>
            <h4>{{bikes.modelName}}</h4>
          <table> 
            <tr><td><b>Bike Number  : </b>{{bikes.bikeNumber}}</td></tr> <br>
            <tr><td><b>Rent Amount : </b>{{bikes.rentAmount}}</td></tr> <br>
            <tr> <td><b>Pickup Location : </b>{{bikes.pickUpLocation}}</td></tr><br>
            <tr> <td><b>Availability : </b>{{bikes.availability}}</td></tr><br>
            <tr> <td><b>Description : </b> {{bikes.description}}</td></tr><br>
          </table>
          </div>
        </div>
      </div>
</div>
<button (click)="goto()" class="btn btn-primary">Back to Dashboard</button><br>